/*
Colors used:
Primary Color (Green): #cccc33;  rgba(204, 204, 51, 0.08); (80% green)
Secondary Color (Gray): #58595b; 88,89,91,0.50 (50% gray)
Black: 

copied from google fonts
#myheadings
font-family: 'Oswald', sans-serif;
#mybody
font-family: 'Hind Siliguri', sans-serif;
*/

h1 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    background-color: rgba(204, 204, 51, 0.08);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color:#cccc33;
    line-height: 1.4;
  }
  h1 {
    color:#58595b;
    font-size: 2.75em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 400;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

/* Hyperlink Styling */ 

  a {
    color: #0e9236;  /* normal state - dark green*/
    text-decoration: none; /* No underlining */
  }

    a:visited { /* visited link - purple*/
      color: #8f2ff0;
    }

    a:hover,
    a:focus {  /* focus & hover for mobile - red*/
      color: #ef4305;
      text-decoration: underline; /* Underlining when hovering over a link */
    }

    a:active { /* selected link - blue*/
      color: #303e99;
    }

    img{
width: 100%;
    }

/* button styling */
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #cccc33;
    color: #ffffff; /* needed to override the default link color - how to keep white if visited? */
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.7; /* Reduces the opacity of the button to 70% */
    text-decoration: none;
  }


