/*
Colors used:
Primary Color (Green): #cccc33;  rgba(204, 204, 51, 0.08); (80% green) or  rgba(204, 204, 51, 0.3) 30%
Secondary Color (Gray): #58595b; 88,89,91,0.50 (50% gray)
Black: 

copied from google fonts
#myheadings
font-family: 'Oswald', sans-serif;
#mybody
font-family: 'Hind Siliguri', sans-serif;
*/

h1 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    background-color: rgba(204, 204, 51, 0.08);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color:#cccc33;
    line-height: 1.4;
  }
  h1 {
    color:#58595b;
    font-size: 2.75em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 400;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

/* Hyperlink Styling */ 

  a {
    color: #0e9236;  /* normal state - dark green*/
    text-decoration: none; /* No underlining */
  }

    a:visited { /* visited link - purple*/
      color: #8f2ff0;
    }

    a:hover,
    a:focus {  /* focus & hover for mobile - red*/
      color: #ef4305;
      text-decoration: underline; /* Underlining when hovering over a link */
    }

    a:active { /* selected link - blue*/
      color: #303e99;
    }


    img{
      width: 100%;
          }

/* button styling */
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #cccc33;
    color: #ffffff; /* needed to override the default link color - how to keep white if visited? */
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.7; /* Reduces the opacity of the button to 70% */
    text-decoration: none;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;    /* overall page padding or margin */
  }
  .row {
    margin: 25px 0px; /* 25px top and bottom, 0 left and right - right side goes to 0?? */
  }
  #work .row {
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a; /* adds rule after button */
  }
  .logo {
    max-width: 250px; /* keeps logo to max width for different screen views */
  }
  #hero{
    text-align: center; /* Centers text in hero section */
  }

/* Layout-navigation styling */

  header {  /* adds background and padding of nav bar */
    background-color: #020202;
    text-align: center;
    padding: 10px 0;  
    position:fixed;  /* freezes top header area while scrolling - works with shadow effect if using */
    width: 100%;
  }


  nav > ul {  /* selects unordered lists within the nav element */
    list-style-type: none;
    padding: 0; 
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;   
  }
  /* selects list elements in unordered lists within the nav element (nav>ul>li) add a:visited etc, to change button states */
  nav > ul > li {  
    padding: 0 8px;
    display: inline; 
    width: 100%;
  }
  /* selects links that are list elements in unordered lists within the nav element & adds padding around each word or link - then add to a;visited, :hover, :active states*/
  nav > ul > li > a:visited {   
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #cccc33; 
  }
  nav > ul > li > a:hover {   
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #e2e2e2; 
  }
  nav > ul > li > a:active { 
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;  
    color: #1937fe; 
  }
  #hero {
    background-color: rgba(204, 204, 51, 0.3);    /* creates a space above */
    padding: 20px 0;     /* removes white space above h1 */
    display: inline-block;
    width: 100%;
    border-top: 3px solid #4a4a4a;   /* used this instead of shadow - generator link didn't work */
}
main {
  padding-top: 200px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset; 
    padding: 20px 0 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
      padding-top: 99px;
  }
  body {
    font-size: 18px; /* changes from 16 to 18 */
  }
  #hero span {
    display: block;
  }
  }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)-like my cinema display
================================= */
@media only screen and (min-width: 1920px) {
}

